// choose grid type
grid-type = inline // inline | float | flex

// we keep our variables and placeholsers in here
@import 'ninja-components/variables'

// here are settings for widths
@import 'ninja-components/width-settings'

// and that is what makes grids
@import 'ninja-components/grid-maker'

// reset of styles
@import 'ninja-components/styles-reset'