body
	box-sizing border-box
	background-color lightgray
	font-family 'Roboto', sans-serif

*
	box-sizing inherit

.hello
	&__title
		margin 65px 0
		font-size fz-big
		font-weight 500
		letter-spacing 3px

		&--icon
			&:before
				display inline-block
				width 44px
				height 42px
				margin-right 5px
				content ''
				background-image url(../img/october.png)
				background-repeat no-repeat
				background-position center

.item
	position relative
	top 0
	width 100%
	margin-bottom 35px
	text-align center

	&__face
		position relative
		height 292px
		margin-bottom 15px
		background-color white
		overflow hidden
		
		&:before
			display inline-block
			width 0
			height 100%
			content ''
			vertical-align middle
	
	&__img
		vertical-align middle

	&__index
		position absolute
		opacity 0

		&--visible
			display inline-block
			top 0
			right 0
			bottom 0
			left 0
			width 65px
			height 65px
			margin auto
			font-size fz-big
			font-weight 700
			color white
			line-height 65px
			vertical-align middle
			background-color rgba(red, .9)
			opacity 1
	
	&__title
		margin-bottom 10px
		font-size fz-name
	
	&__desc
		min-height 60px
		padding 0 20px
		font-size fz-text
	
	&__buy
		width 100%
		border-radius none
		border none
		background-color red
		font-size fz-text
		color white
		font-weight 500
		letter-spacing 2px
		text-transform uppercase
		overflow hidden
		opacity 0
	
	&:hover
		position absolute
		top -25px
		left -100px
		right -100px
		width 116%
		margin auto
		padding 20px
		border 5px solid red
		background-color white
		box-shadow 0 6px 20px rgba(black, .2)
		z-index 1
		
	&:hover &__desc
		margin-bottom 20px
		padding 0 32px
	
	&:hover &__buy
		padding 15px
		opacity 1

.answer
	margin-bottom 100px

	&__title
		@extend .hello__title