widths = {
	md: {
		prefix: md
		min-screen: 0px
		container-width: 974px
		container-padding: 12px
		column-padding: 12px
		column-number: 12
	},
	lg: {
		prefix: lg
		min-screen: 1400px
		container-width: 1350px
		container-padding: 12px
		column-padding: 12px
		column-number: 12
	},
	xl: {
		prefix: xl
		min-screen: 1920px
		container-width: 1870px
		container-padding: 12px
		column-padding: 12px
		column-number: 10
	}
}