extends jade/template

block title
	title test exercise 

block content
	section.hello
		.container
			h1.hello__title Привет, 
				span.hello__title--icon ctoberweb
			.row#insert

	section.answer
		.container
			h2.answer__title Ответ
			.row#secondInsert