extends jade/template

block title
	title test exercise 

block content
	section.container
		.hello
			h1.hello__title Привет, 
				span.hello__title--icon ctoberweb
			.row#insert
	section.container
		.answer
			h2.answer__title Ответ
			.row#secondInsert
